body {
    margin: 0;
    font-family: 'Roboto';
}
a {
    text-decoration: none;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}
a:active {
    color: black;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
div.head {
    border-bottom:1px solid black;
    border-top: 4px solid black;
    overflow: hidden;
    padding: 10px 30px;
}
h1 {
	color:'black';
    font-weight:'bold';
    font-family:'Lobster';
    float: left;
    margin: 0;
}
#app {
    padding-bottom: 100px;
}
ul.header , ul.myaccountpanel {
    float: left;
}
ul.header li ,ul.myaccountpanel li {
    font-size:14px;
    color: black;
    display: inline;
    margin: 10px 30px;
}
ul.myaccountpanel {
    float:right;
}
ul.myaccountpanel li {
    display: inline;
}

#footer {
    border-top: 3px solid black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
}
#footer .copyright {
    float: left;
}
#footer .created-by {
    float: right;
}
.post {
    overflow: hidden;
}
.article {
    border: 2px solid black;
    margin: 20px 20px;
    padding: 20px;
    width: 25%;
    float: left;
}
.article p {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}
.article p span {
    font-size: 13px;
    font-weight: lighter;
}
p.homepage_title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: black;
}
p.homepage-links {
    text-align: center;
}
p.homepage-links a {
    margin: 20px 40px;
    border: 2px solid black;
    padding: 10px;
    min-width: 80px;
    display: inline-table;
    transition: 0.3s;
}
p.homepage-links a:hover {
    border: 2px solid black;
    color: white;
    background-color: black;
    transition: 0.3s;
}